.modal{
    position: fixed;
    z-index: 999;
    top:0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0, 0.75);
    display: none;
    justify-content: center;
    align-items: center;
}

 .modal.is-Open{
    display: flex;

}

.modalContainer{
    position: relative;
    background-color: #ffff;
    /* min-width: 320; */
    width: 750px;
    height: 500px;
    max-width:  800px;
    max-height: 550px;
    /* min-height: 236px; */
    overflow-x: auto;
    align-items: center;
}
.modalIsClose{
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-decoration: none;
    
}

.modalIsClose .button{
    color: black;
    
}

