.container{
	align-items: center;
	background-color: rgba(196, 196, 196, 0.1);
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding-top: 20px;
	width: 100vw;
}

.messageBox {
	align-items: center;
	background-color: #ffffff;
	border: 1px solid #dfe4ea;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	height: 300px;
	margin-top: 2px;
	padding-top: 3em;
	text-align: center;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	width: 80%;
}

.messageBox img{
	height: 74px;
	text-align: center;
	width: 78px;
}

.messageBox button{
	background: #1dbeb4;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	height: 40px;
	line-height: 19px;
	margin-top: 1.5em;
	text-align: center;
	transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	width: 206px;
	text-decoration: none;
}

.messageBox button:hover{
	background-color: #ffff;
	border: none;
	color: #1dbeb4;
}

.messageBox text{
	align-items: flex-end;
	color: #383b58;
	display: flex;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: 19px;
	padding-top: 0.5em;
	text-align: center;
}

@media(max-width: 800px){
	.container{
		padding-top: 13em;
	}
}


@media (min-width: 800px){
	.container{
		padding-top: 0;
	}
	.messageBox {
		margin-top: 15em;
		width: 30%;
	}
}